streamlit==1.26.0
ultralytics==8.0.173
opencv-python-headless==4.8.0.76
numpy==1.24.4
Pillow==9.5.0
imageio==2.31.5
sahi==0.11.15

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1
torchvision==0.15.2
